@model List<Compra>

<div class="row mt-4" id="comprasList">
    @if (Model != null && Model.Any())
    {
    @foreach (var compra in Model)
    {
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card border shadow-sm h-100">
                <img class="img-fluid align-self-center mt-2 mb-2" src="@compra.Imagen" alt="@compra.Marca @compra.Modelo" style="width:300px;height:200px">
                <div class="card-body">
                    <h5 class="card-title">@compra.Marca @compra.Modelo</h5>
                    <p class="card-text">
                        <strong>Fecha Inicio:</strong> @compra.FechaInicio.ToString("dd/MM/yyyy")<br>
                        <strong>Fecha Fin:</strong> @compra.FechaFin.ToString("dd/MM/yyyy")<br>
                        <strong>Precio:</strong> @compra.Precio.ToString("C")<br>
                        <strong>Estado:</strong>
                        @if (compra.EstadoReserva == "Activo")
                        {
                            <span class="badge badge-success">@compra.EstadoReserva</span>
                        }
                        else if (compra.EstadoReserva == "Espera")
                        {
                            <span class="badge badge-warning">@compra.EstadoReserva</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">@compra.EstadoReserva</span>
                        }
                    </p>
                </div>
                <div class="card-footer bg-transparent border-0">
                    <a asp-action="DetailsCoche" asp-controller="Compradores" asp-route-id="@compra.IdCoche" class="btn btn-primary btn-block">Volver a Alquilar</a>
                </div>
            </div>
        </div>
    }
    }else{
        <h1>No tienes</h1>
    }
</div>
