@model List<Reserva>
@if(Model.Count() != 0)
{
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Coche</th>
                    <th>Fecha inicio</th>
                    <th>Fecha fin</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Reserva reserva in Model)
                {
                    @if (reserva.FechaFin.Date == DateTime.Today)
                    {
                        <tr>
                            <td>@reserva.Coche.Marca @reserva.Coche.Modelo</td>
                            <td>@reserva.FechaInicio.ToString("dd/MM/yyyy")</td>
                            <td style="background-color: rgba(0, 128, 0, 0.25);">@reserva.FechaFin.ToString("dd/MM/yyyy")</td>
                            <td>
                                <a href="@Url.Action("ConfirmarKilometraje", "Vendedores", new { idreserva = reserva.IdReserva })" class="btn btn-primary">Comprobar Kms</a>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@reserva.Coche.Marca @reserva.Coche.Modelo</td>
                            <td>@reserva.FechaInicio.ToString("dd/MM/yyyy")</td>
                            <td class="bg-warning bg-opacity-25">@reserva.FechaFin.ToString("dd/MM/yyyy")</td>
                            <td><span class="text-muted">No disponible</span></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h3>No hay reservas de este tipo...</h3>
}


